.v-textarea {
  padding-top: 20px;
}

.fa-check {
  padding-bottom: 10px;
}

.v-btn {
  display: block;
  width: 500px;
  margin: 0 auto;
  color: red;
}

h3 {
  letter-spacing: 5px;
}

#myScatterChart {
  display: block;
  width: 600px;
  height: 400px;
}

.message-box {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}